<nav class="navbar navbar-default ">
    <div class="container-fluid">
        <!-- Brand  -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#"> <i class="fa fa-free-code-camp" aria-hidden="true"> Appartoo </i></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="user.user_name" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.user_name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">profile</a></li>
                        <li><a ng-click="logout()">logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
</nav>
